# Local Netlify folder
.netlify

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
# Netlify dev cli tool is working on adding support for a wider range
# of .env* files. Until then, just use .env, but don't commit it.
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Commenting out queries in the faunadb console seems to throw errors,
# so creating something locally to store in-progress or reference queries.
scratch.fql

npm-debug.log*
yarn-debug.log*
yarn-error.log*
